.entry {
   background: $secondary url(../../img/bg/bg__green.svg) right 0 top 0 no-repeat;
   background-size: 100%;
   padding: 170px 0;
   color: $white;
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
   }
   h1 {
      color: $white;
      margin-bottom: 30px;
   }
   span {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: rgba(255, 255, 255, 0.7);
   }
   img {
      margin-right: 10px;
   }
}
