.work {
   background: $white;
   padding: 120px 0;
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
   }
   h2 {
      color: $bgPrimary;
      margin-bottom: 50px;
   }
   span {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: $white;
      margin-top: 50px;
   }
   &__item {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      background: $bgPrimary url("../../img/bg/bg__orange.svg") right no-repeat;
      background-size: 50% 100%;
      padding: 70px 60px;
      margin-bottom: 30px;
   }
   .no--img {
      background: $bgPrimary;
   }
}
